#playlist,audio{
  width:100%;
  padding:10px;
}

#playlist .active a{
  color:#333;
  background:#fff;
}

#playlist li  a{
  color:#eeeedd;
  padding:2px;
  display:block;
  text-decoration:none;
}

#playlist li a:hover{
  text-decoration:none;
}

#playlist li{
  list-style-type:none;
  text-align:center;
  background:#555;
}

#playlist{
  margin:0;
}

#listen_button{
  width: 100%;
}