.custom-ages-mob {
	width: 100%;

	.nav {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;

	    li {
	    	flex-grow: 1;
	    	margin: 0;
	    	text-align: center;

	    	a {
				box-shadow: -1px 1px 3px 0px #888888;
				margin-bottom: 10px;
				color: #959595;	    		
	    	}
	    }	
	}
}

.custom-age-mob li{
	background-color: #bfbfbf;
}

#ageMenus{
	width: 450px;
	padding: 8px 0 34px;
}

//copied from the original site

.giaProsxolikiHlikiaHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: 0 -119px ;
width:102px;height:35px;
float:left;
text-indent: -9999px;}

.giaProsxolikiHlikiaHrefClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: 0 0;
width:102px;height:35px;
float:left;
text-indent: -9999px;}

#giaProsxolikiHlikia a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: 0 -59px ;
width:102px;height:35px;
float:left;
text-indent: -9999px;}


.giaPenteEftaHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -131px -119px ;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

.giaPenteEftaHrefClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -134px 0;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

#giaPenteEfta a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -130px -61px ;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEftaEnniaHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -252px -119px ;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEftaEnniaHrefClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -253px 0;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}

#giaEftaEnnia a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -253px -60px ;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEnniaDodekaHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -373px -118px ;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEnniaDodekaHrefClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -375px 0;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

#giaEnniaDodeka a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -373px -58px ;
width:84px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEfivousHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -487px -116px ;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}

.giaEfivousHrefClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -486px 0;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}

#giaEfivous a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -487px -56px ;
width:85px;
height:35px;
float:left;
text-indent: -9999px;}


.giaOliTinOikogeneiaHref{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -600px -119px ;
width: 180px;
height: 35px;
float:left;
text-indent: -9999px;}

.giaOliTinOikogeneiaClicked{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -600px 0;
width: 180px;
height: 35px;
float:left;
text-indent: -9999px;
}

#giaOliTinOikogeneia a:hover{
background: url(/templates/abookbook_gr/images/sprites/sprite_age_menu.png) no-repeat;
background-position: -597px -56px ;
width: 180px;
height: 35px;
float:left;
text-indent: -9999px;

}
