.pager {
    display: none;
}

.img-fulltext-right {
	display: none;
}

.item-page {
	a[target="_self"] img {
		width: 100% !important;
	}

	table img {
		max-width: initial;
	}
	
	img {
		@extend .img-responsive;
	}

}

.contact {
	& > h3, & > .contact-image {
		display: none;
	}

	.contact-form {
		input, textarea {
			width: 100%;
		}
	}
} 

// .item-page  {

// 	a[target="_self"] img {
		
// 	}

// 	@media(min-width: 610px) {
// 		.poioi-eimaste-table img {
// 			width: 10px;
// 		}	
// 	}
// }