.cat_title{
    color: #cc6600;
    font-size: 1.2rem;
}

.itemListCategoryTitle{
    padding: 0;
    border: none;
}

.itemListCategoryTitle div img{
    display: none;
}

.catItemView{
    margin: 0;
}

.feedIcon a{
    float: none;
}

article.item p a img {
	max-width: 100% !important;
}