.item_content{
    width: 100%;
    height: 100%;
}

.title_line{
    margin-top: 5px;
    margin-bottom: 15px;
}

.top_content{
    width: 100%;
}

.image_container{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.item-image-link{
    width: 100%;
    height: 100%;
}

.item-image{
    @media(min-width: 320px) and (max-width: 420px){
        width: 80px;
    }
    @media(min-width: 421px) and (max-width: 550px){
        width: 95px;
    }
    @media(min-width: 551px) {
        width: 112px;
    }
    float: left;
    //max-width: 45%;
    //min-width: 40%;
    min-height: auto;
    //margin-left: auto;
}

.bottom_content{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.badge_container{
    margin-left: auto;
    margin-right: auto;
}

.info_list{
    list-style: none;
}

.badge{
    background-color: white;
}

.divider{
    margin-right: 20%;
    border-style: inset;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}