header {
	display: flex;
	flex-direction: row;
	//border-bottom: 1px solid black;
	width: 100%;
	height: $navbar-height; // found in template/variables
	position: fixed;
	top: 0;
	z-index: 2000;
	background: white;

	#menu-toggle {
		border: 0;
		background-color: white;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		padding: 3px 6px;

		i.fa-bars {
			font-size: 1.8rem;
			padding: 3px 6px;
			border-radius: 50%;
		}
	}

  	button {
		border-radius: 0!important;
  	}

	span.spacer {
		flex: 1;
  	}

  	.right-menu {
			display: flex;
			flex-direction: row;

			a {
				color: black;
				padding: 5px;
				font-size: 1.8em;
				padding-left: 20px;
			}
  	}
}

#menu-toggle:focus {
	outline: none;
}

body.noscroll > header > #menu-toggle i {
	background-color: rgb(220, 221, 222);
}

.navbar-logo-container {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

header.affix .navbar-logo-container {
	visibility: visible;
	opacity: 1;
}

#navbar-logo {
	height: 100%;

  /* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) {
		max-width: 254px;
	}

  /* Medium devices (desktops, 992px and up) */
	@media (min-width: $screen-md-min) {
		max-width: 254px;
	}

  /* Large devices (large desktops, 1200px and up) */
	@media (min-width: $screen-lg-min) {
		max-width: 254px;
	}
}


