$btitle_size: 1.7rem;
$btitle_color: #cc6600;

.flexbox{
	display: flex;
	align-content: center;
	justify-content: center;
}

.center_block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container{
    margin-left: auto !important;
    margin-right: auto !important;
}

.info-row{
  margin: 0;
  padding: 5px 5px;
}

.item_title{
    font-size: $btitle_size;
    text-align: left;
    color: $btitle_color;
    margin: 2% 0;
}

.book_img{
  margin-right: auto;
}

.info_list{
    list-style: none;
    padding: 0;
    margin-top: 0;
    li{
        padding: 2px;
        width: inherit;
        //border-bottom: 1px dotted #8a8a8a;
    }
}

.img_resp{
	@media only screen and (min-device-width : 320px) {
		width: 90px;
	}
	@media only screen and (min-device-width : 620px) {
		width: 120px;
	}
}

.item_rating{
	div{
        display: inline;
    }
}

.badge_loved{
	@media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
		margin-top: 1.5rem;
	}
}

.ruler{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.actions_list{
    .list_button{
        margin: 0 auto;
        display: inline;
    }
}

.social_buttons{
	margin: 10px 0;
}

/* ---K2 Rating Styles--- */
.itemRatingForm {
  display:block;
  vertical-align:middle;
  line-height:25px;
  float:left;
}
.itemRatingLog {
  font-size:10px;
  margin:0;
  padding:0 0 0 4px;
  float:left;
  color:#cccccc;
}
div.itemRatingForm .formLogLoading {
  background:url(../../../components/com_k2/images/system/loading.gif) no-repeat left center;
  height:25px;
  padding:0 0 0 20px;
}
.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {
  background:transparent url(../../../images/books_icons/editorUserRating/transparent_star.png) 
  left -1000px repeat-x;
}
.itemRatingList {
  position:relative;
  float:left;
  width:125px;
  height:25px;
  overflow:hidden;
  list-style:none;
  margin:0;
  padding:0;
  background-position:left top;
}
.itemRatingList li {
  display:inline;
  background:none;
  padding:0;
}
.itemRatingList a, .itemRatingList .itemCurrentRating {
  position:absolute;
  top:0;
  left:0;
  text-indent:-1000px;
  height:25px;
  line-height:25px;
  outline:none;
  overflow:hidden;
  border:none;
  cursor:pointer;
}
.itemRatingList a:hover {
  background-position:left bottom;
}
.itemRatingList a.one-star {
  width:20%;z-index:6;
}
.itemRatingList a.two-stars {
  width:40%;
  z-index:5;
}
.itemRatingList a.three-stars {
  width:60%;
  z-index:4;
}
.itemRatingList a.four-stars {
  width:80%;
  z-index:3;
}
.itemRatingList a.five-stars {
  width:100%;
  z-index:2;
}
.itemRatingList .itemCurrentRating {
  z-index:1;
  background-position:0 center;
  margin:0;
  padding:0;
}
span.siteRoot {
  display:none;
}

.itemSocialSharingButtons{
  align-content: center;
	justify-content: center;
  @media only screen and (max-device-width : 480px) {
		display: block;
	}
	@media only screen and (min-device-width : 480px) {
		display: flex;
	}
}

/*---END K2 Rating Styles ---*/

