html {
	font-size: 16px;
	//font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;

	@media (max-width: 994px) {
		background-color: white !important;
	}
}

a {
	&:link, &:visited {
		color: #933020;
		text-decoration: none;
	}

	&:hover {
		color: #e0482f;
    	text-decoration: none;
	}
}

div.blog-featured {

	img {
		@extend .img-responsive; // Get arround images with fixed small widths
		width: 100%!important;
	}

	margin-bottom: 30px;

	.img_caption.none {
		width: 100% !important; // Get arround images with fixed small widths
	}
}

p.readmore > a {
	white-space: normal;
	font-size: 1rem;
	text-align: initial;
    border: 0;
    padding: 0;
}

.noscroll {
	overflow-y: hidden;
}

#header-image {
	position: absolute;
	top: $navbar-height;
	left: 0;
	width: 100%!important;
	margin: 0 auto;
	height: auto;
	display: block;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	height: 77px;
	background-image: url("../images/mobile_version/bookbook-mobile_320.png");
	// background-image: url("../images/mobile_version/bookbook-mobile_1600.png");

	@media (min-width: 320px) {
		height: 116px;
		background-image: url("../images/mobile_version/bookbook-mobile_480.png");
	}

	@media (min-width: 600px) {
		height: 157px;
		background-image: url("../images/mobile_version/bookbook-mobile_768.png");
	}

	@media (min-width: $screen-sm-min) {
		height: 197px;
		background-image: url("../images/mobile_version/bookbook-mobile_1024.png");
	}

	@media (min-width: 1100px) {
		height: 197px;
		width: 80%;
		margin: 0 auto;
		background-image: url("../images/mobile_version/bookbook-mobile_1600.png");
	}
}

#page-content-wrapper {
	// padding-top: $navbar-height;

	&> .container:first-child {
		@media (min-width: 320px) {
			padding-top: 116px + $navbar-height;
		}

		@media (min-width: 600px) {
			padding-top: 157px + $navbar-height;
		}

		@media (min-width: $screen-sm-min) {
			padding-top: 197px + $navbar-height;
		}

		@media (min-width: 1100px) {
			padding-top: 197px + $navbar-height;
		}
	}
}

// Hide the freaking intro image on featured, just like they do
.img-intro-right, .img-intro, .img-intro-left {
	display: none!important;
}

// Make banners img-responsive on featured
.blog-featured img {
	@extend .img-responsive;
}

// make content centered in bigger than 1024 resolution
#page-content-wrapper > .container
{
	background-color: white;

	@media (min-width: 992px) {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
}

.editors-choice-most-visited-row {
	@extend .row;

	img {
		@extend .img-responsive;
		margin: 0 auto;
	}
}

.editors-choice, .most-visited-article {
	@extend .col-md-6;
	@extend .col-lg-6;
	@extend .col-sm-12;
	@extend .col-xs-12;

	margin-bottom: 10px;

	img {
	    // width: 100% !important;
			// height: 128px !important;
			@extend .img-responsive;
			margin: 0 auto;
	}

	.custom h4 {
		text-align: center;
    	font-size: $most-visited-editors-choice-headers-font-size;
    	background-color: black;
    	color: white;
    	margin: 0;
    	padding: 4px 0;
    	margin-bottom: 5px;
	}
}

.custom-social-buttons {
	width: 100%;
	&>.custom {
		width: 100%;
		display: flex;
		justify-content: space-around;

		img {
			width: 50px;
			height: 50px;
		}
	}
}

.banners {
	display: flex;
	justify-content: space-around;

	@media (max-width: 650px) {
		flex-wrap: wrap;
	}

	#bookbookDownloads {
		& > a {
			background: url('../images/mobile_version/download_button_idle.jpg');
			background-size: contain;
    	background-repeat: no-repeat;
			width: 144px;
			height: 69px;
			text-indent: -9999px;
			cursor: pointer;
			display: block;
			&:hover {
				background: url('../images/mobile_version/download_button_hover.jpg');
			}
		}
	}
}
