/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;//250px;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;//-250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: $sidebar-font-size;

    & > .menu {
        padding-top: $navbar-height;

    }
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;//250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;//-250px;
}

// Responsive media queries
@media(min-width: 5000px) {
    #wrapper {
        padding-left: $sidebar-width;//250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: $sidebar-width;  //250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



/* Sidebar Styles */

#sidebar-wrapper > .menu {
    position: absolute;
    top: 0;
    width: $sidebar-width;//250px;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;

    li {
        line-height: $sidebar-li-line-height;
    }    

    & > li:before   {
        content: "•";
        color: red;
        font-size: $sidebar-font-size-circles;
        position: absolute;
        left: 16px;
    }

    li a {
        text-decoration: none;
        color: black;
        padding-left: 40px;
        line-height: 55px;
    }    

    li a:hover {
        text-decoration: none;
        color: $sidebar-links-color-hover;
        background: rgba(255,255,255,0.2);
    }  

    li a:active,
    li a:focus {
        text-decoration: none;
    }     

    & > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }    

    & > .sidebar-brand a {
        color: black;
    }     

    & > .sidebar-brand a:hover {
        color: $sidebar-links-color-hover;
        background: none;
    }    
}


// Different colors for circles
#sidebar-wrapper > ul.menu {

    li:nth-child(1):before { color: #c90119; }

    li:nth-child(2):before { color: #edba00; }

    li:nth-child(3):before { color: #137aae; }

    li:nth-child(4):before { color: #5504b2; }  // biblia pou...

    li:nth-child(5):before { color: #b3007b; }

    li:nth-child(6):before { color: #e64215; }

    li:nth-child(7):before { color: #b3007b; }

    li:nth-child(8):before { color: #7cb4d6; }

    li:nth-child(9):before { color: #97b801; }

    li:nth-child(10):before { color: #edba00; }

    li:nth-child(11):before { color: #137aae; }

    li:nth-child(12):before { color: #5504b2; }

    li:before { color: #edba00; }

    // li.item-128:before { color: #c90119; }

    // li.item-129:before { color: #edba00; }

    // li.item-130:before { color: #137aae; }

    // li.item-131:before { color: #5504b2; }  // biblia pou...

    // li.item-131 > ul.sidebar-dropdown-menu {

    //     & > li.item-132:before { color: #b3007b; } // biblia pou diavazontai
    //     & > li.item-133:before { color: #e64215; } // biblia pou akougontai
    //     & > li.item-134:before { color: #b3007b; } // biblia pou ksefilizontai
    //     & > li.item-135:before { color: #7cb4d6; } // biblia pou ksexarisame
    //     & > li.item-136:before { color: #97b801; } // biblia pou agapisame
    // }
}


ul.sidebar-dropdown-menu > li:before {
    content: "•";
    color: red;
    font-size: $sidebar-font-size-circles;
    position: absolute;
    left: 34px;
}

.sidebar-dropdown-menu {
  list-style-type: none;
}

#sidenav-overlay {
    position: fixed;
    top: $navbar-height; // found in template/variables
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 997;
    will-change: opacity;
    opacity: 100%;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#sidenav-overlay.hidden-animated {
    opacity: 0;
    height: 0;
}


#wrapper.toggled > nav#sidebar-wrapper {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 40px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
}

.drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998;
}

