// Login Page
.login {
	margin-bottom: 30px;

	.login-fields {
		@extend .form-group;

		input {
			@extend .form-control;
		}

		input#remember {
			width: initial;
			height: initial;
		}
	}

	button[type="submit"] {
		@extend .btn;
		@extend .btn-default;
	}	
}


// Search Page
.search {
	margin-top: 20px;

	fieldset.word {
		@extend .form-group;
	}

	button[name="Search"] {
		@extend .btn;
		@extend .btn-default;
	}

	.phrases {
		margin-top: 17px;
		margin-bottom: 17px;

		.phrases-box {
			margin-bottom: 17px;
		}
	}
}